<h1><%=@doctor.name%></h1>
<h1><%=@doctor.department%></h1>
<%@doctor.appointments.each do |appointment|%>
<h1><%= appointment.parse_datetime%></h1>
<h1><%=link_to appointment.patient_name, patient_path%></h1>
<% end %>
